{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" property="stylesheet" href="{% static 'css/register.css' %}">
<link rel="stylesheet" property="stylesheet" href="{% static 'css/admin_dash.css' %}">

  <div class="container mt-4 mb-4">
    <h1><a href=" /home"><img src="{% static 'images/navbar-img.png' %}" class="topLogo"></a></h1>
    <form method="post">
      {% csrf_token %}
      {{p_form|crispy}}
      {{form|crispy}}
      <button class="btn-primary btn-md btn" type="submit" name="button">Done</button>
      <a class="btn-warning btn-md btn" href="{% url 'admin_dash' %}">Cancel</a><br>
    </form>
  </div>
{% endblock %}
