{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" property="stylesheet" href="{% static 'css/Login.css' %}">
  <a href=" /home"><img src="{% static 'images/navbar-img.png' %}" class="topLogo"></a>
  <div  class="container jumbotron loginForm ">
    <h5>You Have Been Logged out</h5>
    <a class="btn btn-outline-primary my-2 my-sm-0 loginBTN" href="login">Login</a><br><br>
    <a href="{% url 'register' %}" id="register" class="loginForm">Register</a>
  </div>
  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
