{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" property="stylesheet" href="{% static 'css/Login.css' %}">
  <a href=" /home"><img src="{% static 'images/navbar-img.png' %}" class="topLogo"></a>
  <div  class="container jumbotron loginForm ">
    <form  method="post">
      {% csrf_token %}
    </form>
    <h5>Car Rented Successfully</h5>
    <a  href="{% url 'rent_details' %}">View Details</a><br><br>
  </div>
  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
