{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" property="stylesheet" href="{% static 'css/create_rent.css' %}">
<link rel="stylesheet" property="stylesheet" href="{% static 'css/login.css' %}">

    <div class="form-inline rentForm">
      <div class="card" style="width: 30rem;background-color:#1d232e;">
        <div class="card-body" style="background-color:#1d232e;">
          {% csrf_token %}
          <table style="color:#7EF9FF">
            <tr>
              <td><strong>Car Model</strong></td>
              <td>{{details.car_model}}</td>
            </tr>
            <tr>
              <td><strong>Delivery Address</strong></td>
              <td>{{details.delivery_address}}</td>
            </tr>
            <tr>
              <td><strong>Order Date</strong></td>
              <td>{{details.order_date}}</td>
            </tr>
            <tr>
              <td><strong>Duration (In Day)</strong></td>
              <td>{{details.duration}} Days</td>
            </tr>
            <tr>
              <td><strong>Rate Per Day</strong></td>
              <td>Php{{details.sub_total}}</td>
            </tr>
            <tr>
              <td><strong>Amount Payable</strong></td>
              <td>Php{{total}}</td>
            </tr>
          </table>
          <br>
          <a class="btn my-2 my-sm-0 login" href="{% url 'vehicles' category='all' %}" name="sumbitRent">Confirm</a>
        </div>
      </div>
    </div>


{% endblock %}
